<h1>
  <%= link_to post.name, post_path(post) %>
</h1>

<p>
  <%= link_to post.author.name, author_path(post.author) %>
</p>

<p>
  <%= link_to post.category.name, category_path(post.category) %>
</p>
