<h1><%= author.name %> Posts</h1>

<% data.contentful.posts.select { |_, post| post.author.id == author.id }.each do |_, post| %>
  <%= partial 'partials/post_card', locals: { post: post } %>
<% end %>
