<div class="container">
  <h2 class="section-header">
    <%= category.name %>
  </h2>
  <div data-card-deck class="card-deck card-deck--expanded-layout card-deck--wrap">
    <% posts_in_category(category).each do |_, post| %>
      <%= partial 'partials/post_card', locals: { post: post } %>
    <% end %>
  </div>
</div>
